html {
    scroll-behavior: smooth;
}

.landing {
    background-image: url("../css/img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 18%;
    text-align: center;
    color: white;
    font-family: segoeUI;
}

.landing h1 {
    padding: 2px;
    margin: 5px;
}

.landing p {
    padding: 2px;
}

#logo {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
    ;
}

.mouse-button {
    padding-top: 25px;
    margin-top: 12%;
    padding-bottom: 30px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-55px);
    }

    60% {
        transform: translateY(-45px);
    }
}

.about {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

#about-us {
    font-family: sans-serif;
}

.services {
    background-image: url("../css/img/s_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: medium;
}

.what-we-do {
    text-align: center;
    padding-top: 3%;
}

.what-we-do h2 {
    margin-bottom: 3%;
    text-align: center;
}

.heading1 {
    font-weight: bold;
}

.portfolio h2 {
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
}
/*
#portfolio {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    max-width: 100%;
    max-height: 100%;
} */

#contact1 {
    background-image: url("../css/img/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contact h2 {
    text-align: center;
    margin-top: 35px;
    padding-top: 45px;
    padding-bottom: 25px;
}

input[type=text],
input[type=email],
#comment {
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: ubuntuUI, serif;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

#NAME1 {
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
}

#EMAIL1 {
    width: 30%;
}

#comment {
    margin-left: 20%;
    width: 60%;
}

button {
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding-top: 30px;
    font-family: 'ubuntuUI', cursive;
}

footer p {
    margin-top: 10px;
}

#product,
#development,
#design {
    display: none;
    font-family: 'ubuntuUI', serif;
    font-size: 16px;
}

#product .heading1,
#development .heading1,
#design .heading1 {
    font-size: 20px;
    font-weight: 600;
    display: none;
}

#p1, #hover2, #hover3, #hover4, #hover5, #hover6, #hover7, #hover8 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}
