html {
    scroll-behavior: smooth;
}

.landing {
    background-image: url("../css/img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 18%;
    text-align: center;
    color: white;
    font-family: segoeUI;
}

.landing h1 {
    padding: 2px;
    margin: 5px;
}

.landing p{
		 padding: 2px;
		}
		#logo{
		 margin-top: 12px;
		 margin-bottom: 24px;
		 width: 70px;
		 height: 70px;;
		 }
		.mouse-click{
		 padding-top : 25px;
		 margin-top: 12%;
		 padding-bottom: 30px;
		}
