html {
    scroll-behavior: smooth;
}

.landing {
    background-image: url("../css/img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 18%;
    text-align: center;
    color: white;
    font-family: segoeUI;
}

.landing h1 {
    padding: 2px;
    margin: 5px;
}

.landing p{
		 padding: 2px;
		}
		#logo{
		 margin-top: 12px;
		 margin-bottom: 24px;
		 width: 70px;
		 height: 70px;;
		 }
		.mouse-button{
		 padding-top : 25px;
		 margin-top: 12%;
		 padding-bottom: 30px;
     animation: bounce 2s infinite;
		}
		@keyframes bounce {
		 0%, 20%, 50%, 80%, 100% {
		 transform: translateY(0);
		 }
		 40% {
		 transform: translateY(-55px);
		 }
		 60% {
		 transform: translateY(-45px);
		 }
   }
   .about{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
#about-us{
    font-family: sans-serif;
}
.services{
    background-image: url("../css/img/s_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: medium;
}
.what-we-do{
    text-align: center;
    padding-top: 3%;
}
.what-we-do h2{
    margin-bottom: 3%;
    text-align: center;
}
.heading1{
    font-weight: bold;
}
.portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
}
#portfolio{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 3%;
